/* .App {
 display: flex;
} */

.nav li {
  display: inline;
  padding: 5%;
 
  text-decoration: none;
  
}

.nav ul {
  text-align: center;
}

.nav h1 {
  text-align: center;
}

.breakfast-div {
  background-color: rgb(186, 226, 186);
}
.recipe-div {
  text-align: center;
  padding-bottom: .25%;
}

.recipe-div ul {
  display: flex;
  flex-direction: column;
}

.recipe-div li {
  padding: 0.30%;
}

.lunch-div {
  background-color: rgb(212, 143, 186);
}

.din-div {
  background-color: rgb(151, 189, 219);
}